In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
covid_data = pd.read_csv("D:\jnb-demo\covid-variants.csv")

In [8]:
covid_data.head() # the number is not specified, so it'll return the first 5 rows

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3

In [9]:
covid_data.head(10) # returns the first 10 rows

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-07-06,Alpha,0,0.0,3
1,Angola,2020-07-06,B.1.1.277,0,0.0,3
2,Angola,2020-07-06,B.1.1.302,0,0.0,3
3,Angola,2020-07-06,B.1.1.519,0,0.0,3
4,Angola,2020-07-06,B.1.160,0,0.0,3
5,Angola,2020-07-06,B.1.177,0,0.0,3
6,Angola,2020-07-06,B.1.221,0,0.0,3
7,Angola,2020-07-06,B.1.258,0,0.0,3
8,Angola,2020-07-06,B.1.367,0,0.0,3
9,Angola,2020-07-06,B.1.620,0,0.0,3

In [11]:
plain_covid = covid_data.drop(columns = ["date", "variant"]) # drop: eliminate
plain_covid.head()
#DataFrame.drop(
  # labels=None, 
  #  axis=0, 
  # columns=None, 
  #  level=None, 
  # inplace=False, 
  #  errors='raise'
# )

  location  num_sequences  perc_sequences  num_sequences_total
0   Angola              0             0.0                    3
1   Angola              0             0.0                    3
2   Angola              0             0.0                    3
3   Angola              0             0.0                    3
4   Angola              0             0.0                    3

In [14]:
place = covid_data.location.unique() # get all unique values of "location" (no repeated value)
num_sequence = []
num_total = []
for i in place:
  x = plain_covid[plain_covid.location.values == i]
  num_seq = sum(x.num_sequences)
  num_tot = sum(x.num_sequences_total)
  num_sequence.append(num_seq) # add values of num_seq to num_sequence's array
  num_total.append(num_tot) # add values of num_tot to num_total

covid_locations = pd.DataFrame({"location":place, "num_sequences_processed":num_sequence, "acknowledged_num_sequences_total":num_total})
print(covid_locations)

          location  num_sequences_processed  acknowledged_num_sequences_total
0           Angola                     1325                             25320
1        Argentina                    10689                            201864
2            Aruba                     3302                             72000
3        Australia                    62668                           1132776
4          Austria                    14627                            301920
..             ...                      ...                               ...
116  United States                  2420758                          49960248
117        Uruguay                     1189                             16368
118        Vietnam                     1811                             43320
119         Zambia                     1565                             26808
120       Zimbabwe                      871                             16464

[121 rows x 3 columns]